*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Card{
    width: 360px;
    height: 500px;
    background-color:antiquewhite;
    border-radius: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.Card img {
    height:200px;
    border-radius: 20px;
}

.Card h2{
    font-weight: bold;
    font-size: 30px;
}

.Card p{
    font-size:18px;
}